<nav>
    <form class="wrap-finder">
        <input type="text" class="finder" placeholder="podaj nazwę marki">
    </form>
    <div class="brand-btns">
        <!-- here is generating a list of buttons with names nad links to brands
example:   <button class="menu-btn" data-name-brand="Actona">Actona</button>-->

    </div>

</nav>