@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'

//colors
$white: hsla(0, 100%, 100%, 1)
$blue: hsla(202, 52%, 49%, 1)
$lightBlue: hsla(202, 52%, 70%, 1)
$ultraLigthBlue: hsla(202, 52%, 95%, 1)
$almostBlack: hsla(210, 8%, 14%, 1)
$ligthBlack: hsla(210, 8%, 34%, 1)
$shadow: hsla(0, 0%, 0%, 0.3)
$white: hsla(360, 100%, 100%, 1)

//border radius
$border-radius: 10px
    
*,
*::before,
*::after 
    box-sizing: border-box
    margin: 0
    padding: 0


body 
    position: relative
    display: flex
    flex-direction: column
    background-color: $white
    color: $almostBlack
    font-size: 16px
    line-height: 1.4
    font-family: 'Montserrat', sans-serif

.body__blocked
    overflow: hidden

input, textarea, button, [role='button']
    border-radius: $border-radius
    outline: none
    &:focus-visible
        border: 3px $blue solid

input, textarea
    background-color: $white
    

button
    background-color: Transparent
    margin: 5px 10px
    padding: 5px 10px
    border: 3px transparent solid
    font-size: 16px
    font-weight: bold
    color: $blue
    &:hover
        color: $lightBlue
    &:active
        color: $blue

a 
    color: $blue
    text-decoration: none
    &:hover 
        color: $lightBlue
        transition: color .2s

a, button
    cursor: pointer

.hide 
    display: none


    