@import reset.sass
h1
    &::after, &::before
        content: " EDITOR "
        color: red
        font-weight: bolder
    &::after
        position: absolute
        top: 30px
        right: 85px
        font-size: 20px
    &::before
        display: none
main
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    margin: 20px
section
    display: flex
    flex-direction: column
    width: 100%
    max-width: 1080px

.section-header
    position: sticky
    background-color: $white
    top: 0px
    font-size: 26px
    color: $almostBlack
    text-align: left
    order: 1
    &:hover
        color: $ligthBlack
        

.wrap-brands
    order: 3
    
.brand
    display: flex
    flex-direction: column
    margin-left: 50px
    &__name 
        font-size: 20px
        text-align: left
        color: $almostBlack
        &:hover
            color: $ligthBlack

    &__wrap-elements
        border: 1px $almostBlack solid
        border-radius: $border-radius
        margin-left: 100px
        padding: 10px

    &__element 
        display: flex
        padding: 10px 20px
    &__element-name 
        width: 250px
        font-weight: bold
    &__element-edited
        flex-grow: 2
        overflow: hidden

    &__element-value
        width: 100%
        max-width: 100%
        font-size: 16px
        padding: 10px
        resize: vertical

.add-Element-Btn
    order: 2
    align-self: left
    border-radius: $border-radius
    color: hsla(202, 52%, 49%, 1)

@media screen and (max-width: 768px) 
    h1
        &::after
            display: none
        &::before
            display: inline
    .brand
        &__name
            display: sticky
            margin-left:20px
        &__wrap-elements
            margin-left: 20px
            margin-right: 20px
        &__element
            display: flex
            flex-direction: column
            margin-left:20px