@import reset.sass

main
    position: relative
    align-self: center
    width: 100%
    max-width: 1166px


.name-brand 
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    align-items: center
    width: 100%


.name-brand
    font-size: 20px
    word-break: break-word

.wrap-order 
    display: flex
    justify-content: space-between

.main-info 
    margin: 30px

.how-order 
    flex-direction: column
    margin: 30px
    list-style-position: inside
    color: $almostBlack
    border-radius: $border-radius
    &__box 
        width: 450px
        border: 1px $almostBlack solid
        border-top: 0
        overflow: hidden

    &__box:first-of-type
        border-top: 1px $almostBlack solid
        border-top-left-radius: $border-radius
        border-top-right-radius: $border-radius
    &__box:last-of-type
        border-bottom-left-radius: $border-radius
        border-bottom-right-radius: $border-radius
        &:first-child
            background-color: red
            border: 1px $almostBlack solid



    &__header 
        display: flex
        justify-content: space-between
        width: 100%
        margin: 0
        padding: 10px 20px
        font-size: 20px
        font-weight: bold
        transition: background-color .3s
        color: $almostBlack
        border-radius: 0

        &::after
            content: "V"
            transition: transform .3s   

    &__header.show 
        background-color: $ultraLigthBlue
        transition: background-color transform .3s
        &::after 
            content: "V"
            transform: rotate(180deg)
            transition: transform .3s

    &__info 
        max-height: 0px
        
        transition: max-height .3s ease-out
        overflow: hidden
        &>div
            padding: 10px 20px

.how-order__info.show 
    max-height: 1000px
    transition: max-height .3s ease-in
    overflow: scroll

.about-brand 
    padding: 0 30px

.ordering-instructions 
    display: flex
    position: fixed
    top: 0
    width: 100vw
    height: 100vh
    background-color: $shadow
    z-index: 2


.ordering-instructions .instruction-content-wrap 
    position: absolute
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 400px
    top: 30px
    bottom: 30px
    right: 100px
    background-color: #fff
    border-radius: 30px
    font-size: 14px

.ordering-instructions .instruction-content-wrap .instruction-content 
    padding-left: 20px
    margin-top: 30px
    margin-left: 15px
    overflow: auto

// Ordering instruction buttons
.menu-btn--order-inst-btn 
    margin-left: 10px
    text-transform: uppercase
    font-weight: bold
    background-color: #fff
    color: #3c8dbc
    border: 1px #3c8dbc solid


.menu-btn--instr-btn 
    height: 40px
    width: 100%
.menu-btn--instr-btn:hover 

.instruction-btns 
    margin: 10px
    display: flex
    justify-content: space-around
    align-content: stretch

.about 
    height: 50px

.hide 
    display: none


@media screen and (max-width: 768px) 
    .wrap-order 
        flex-direction: column

    .how-order__box 
        padding-top: 0
        width: 100%
    
    .hide
        display: none

@media only screen and (max-width: 600px) 
    .ordering-instructions .instruction-content-wrap 
        position: fixed
        width: 100vw
        height: 100vh
        top: 0
        bottom: 0
        right: 0
        border-radius: 0
        font-size: 14px
        background-color: #fff
        
/*# sourceMappingURL=style.css.map */