header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px #000 solid;
}
header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1166px;
  width: 100%;
  height: 70px;
}

h1 {
  position: relative;
  padding-left: 20px;
  color: #3c8dbc;
  white-space: nowrap;
}
h1 span {
  font-size: 50%;
}

.menu-wrap {
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 4000px;
  padding: 0 30px;
}

.wrap-finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finder {
  font-size: 16px;
  position: relative;
  border: 1px #000 solid;
  height: 40px;
  width: 100%;
  padding-left: 20px;
}

.brand-btns {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  padding-left: 0px;
  background-color: #e7f7ff;
  text-align: right;
  overflow: scroll;
  z-index: 100;
}

.popup-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.298);
  background-color: hsla(0, 0%, 0%, 0.3);
  overflow: scroll;
  z-index: 100;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  padding: 20px 40px 10px 40px;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.755);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.755);
  background-color: #fff;
  overflow: scroll;
}
.popup__content {
  padding-bottom: 20px;
}

.help__content {
  margin: auto;
  line-height: 2;
}
.help__content h2 {
  text-align: center;
}
.help__content p {
  margin-left: 20px;
  font-weight: bold;
}
.help__content ul {
  margin-left: 60px;
}

.mobile-menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    border: none;
  }
  header > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  h1 {
    position: relative;
    width: 100vw;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
  }
  .brand-btns {
    top: 78px;
  }
  .menu {
    position: absolute;
    background-color: #ffffff;
    border: rgba(249, 0, 0, 0) 0px solid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0px;
    right: 0px;
    top: 25px;
    margin-right: 10px;
    -webkit-transition: height 0.5s, border 0.5s;
    transition: height 0.5s, border 0.5s;
    overflow: hidden;
    z-index: 1000;
  }
  .showMenu {
    height: 120px;
    border: 1px black solid;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
  .mobile-menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  #menuToggle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #menuToggle input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relaabsolutetive;
    background: #3c8dbc;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: #3c8dbc;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
}/*# sourceMappingURL=header.css.map */