header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 1px #000 solid;
}

h1 {
  position: relative;
  padding-left: 20px;
  color: #3c8dbc;
  white-space: nowrap;
}
h1 span {
  font-size: 50%;
}

.menu-wrap {
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 0 10px;
}

.wrap-finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finder {
  font-size: 16px;
  position: relative;
  border: 1px #000 solid;
  height: 40px;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
}

.brand-btns {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  padding-left: 0px;
  background-color: #e7f7ff;
  text-align: right;
  overflow: scroll;
  z-index: 100;
}

.popup-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2980392157);
  overflow: hidden;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  padding: 20px 40px 10px 40px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.755);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.755);
  background-color: #fff;
  overflow: auto;
}
.popup__content {
  padding-bottom: 20px;
}

.help__content {
  margin: auto;
  line-height: 2;
}
.help__content h2 {
  text-align: center;
}
.help__content p {
  margin-left: 20px;
  font-weight: bold;
}
.help__content ul {
  margin-left: 60px;
}

@media screen and (max-width: 768px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    border: none;
  }
  h1 {
    position: relative;
    width: 100vw;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
  }
  .brand-btns {
    top: 78px;
  }
  .menu {
    position: absolute;
    background-color: #ffffff;
    border: rgba(249, 0, 0, 0) 0px solid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 0px;
    right: 0px;
    top: 25px;
    margin-right: 10px;
    -webkit-transition: height 0.5s, border 0.5s;
    transition: height 0.5s, border 0.5s;
    overflow: hidden;
    z-index: 1000;
  }
  .showMenu {
    height: 120px;
    border: 1px black solid;
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
  }
}/*# sourceMappingURL=header.css.map */