@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsl(0, 100%, 100%);
  color: hsl(210, 8%, 14%);
  font-size: 16px;
  line-height: 1.4;
}

.body__blocked {
  overflow: hidden;
}

input, textarea, button, [role=button] {
  border-radius: 10px;
  outline: none;
}
input:focus, textarea:focus, button:focus, [role=button]:focus {
  border: 3px hsl(202, 52%, 49%) solid;
}

input, textarea {
  background-color: hsl(0, 100%, 100%);
}

button {
  background-color: Transparent;
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: hsl(202, 52%, 49%);
}
button:hover {
  color: hsl(202, 52%, 70%);
}

a {
  color: hsl(202, 52%, 49%);
  text-decoration: none;
}
a:hover {
  color: hsl(202, 52%, 70%);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a, button {
  cursor: pointer;
}

.hide {
  display: none;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px hsl(210, 8%, 14%) solid;
}
header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1166px;
  width: 100%;
  height: 70px;
}

h1 {
  position: relative;
  padding-left: 20px;
  color: hsl(202, 52%, 49%);
  white-space: nowrap;
}
h1 span {
  font-size: 50%;
}

.menu-wrap {
  position: relative;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  max-width: 4000px;
  padding: 0 30px;
}

.wrap-finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.finder {
  font-size: 16px;
  position: relative;
  border: 1px hsl(210, 8%, 14%) solid;
  height: 40px;
  width: 100%;
  padding-left: 20px;
}

.brand-btns {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  padding-left: 0px;
  background-color: hsl(202, 52%, 95%);
  text-align: right;
  overflow: scroll;
  z-index: 10;
}

.popup-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.3);
  overflow: hidden;
  z-index: 1000;
}

.popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80%;
  max-width: 80%;
  padding: 20px 40px 10px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.755);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.755);
  background-color: hsl(0, 100%, 100%);
  overflow: scroll;
}
.popup__content {
  padding-bottom: 20px;
}

.help__content {
  margin: auto;
  line-height: 2;
}
.help__content h2 {
  text-align: center;
}
.help__content p {
  margin-left: 20px;
  font-weight: bold;
}
.help__content ul {
  margin-left: 60px;
}

.mobile-menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    border: none;
  }
  header > div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
  }
  h1 {
    position: relative;
    width: 100vw;
    margin-top: 5px;
    font-size: 16px;
    text-align: center;
  }
  .brand-btns {
    top: 78px;
  }
  .menu-btns-wrap {
    position: absolute;
    right: 0;
  }
  .menu {
    position: fixed;
    background-color: hsl(202, 52%, 49%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 100px;
    right: -100px;
    padding: 10px 0;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
    z-index: 100;
  }
  .menu > form > button {
    color: hsl(0, 100%, 100%);
  }
  .show-menu {
    right: -1px;
    -webkit-transition: right 0.3s;
    transition: right 0.3s;
  }
  .mobile-menu-btn {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    z-index: 100;
  }
  #menuToggle {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }
  #menuToggle input {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relaabsolutetive;
    background: hsl(202, 52%, 49%);
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
    background: hsl(202, 52%, 49%);
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -1px);
            transform: rotate(-45deg) translate(0, -1px);
  }
}/*# sourceMappingURL=header.css.map */