*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: hsl(0, 100%, 100%);
  color: hsl(210, 8%, 14%);
  font-size: 16px;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
}

.body__blocked {
  overflow: hidden;
}

input, textarea, button {
  border-radius: 10px;
  outline: none;
}
input:focus, textarea:focus, button:focus {
  border: 3px hsl(202, 52%, 49%) solid;
}

input, textarea {
  background-color: hsl(0, 100%, 100%);
}

button {
  background-color: Transparent;
  margin: 5px 10px;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: hsl(202, 52%, 49%);
}
button:hover {
  color: 10px;
}

a {
  color: hsl(202, 52%, 49%);
  text-decoration: none;
}
a:hover {
  color: hsl(202, 52%, 70%);
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a, button {
  cursor: pointer;
}

.hide {
  display: none;
}

main {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 1166px;
}

.name-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.name-brand {
  font-size: 20px;
  word-break: break-word;
}

.wrap-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-info {
  margin: 30px;
}

.how-order {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
  list-style-position: inside;
  color: hsl(210, 8%, 14%);
  border-radius: 10px;
}
.how-order__box {
  width: 450px;
  border: 1px hsl(210, 8%, 14%) solid;
  border-top: 0;
  overflow: hidden;
}
.how-order__box:first-of-type {
  border-top: 1px hsl(210, 8%, 14%) solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.how-order__box:last-of-type {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.how-order__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  border-radius: 0;
  color: hsl(210, 8%, 14%);
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.how-order__header::after {
  content: "V";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.how-order__header.show {
  background-color: hsl(202, 52%, 95%);
  -webkit-transition: background-color transform 0.3s;
  transition: background-color transform 0.3s;
}
.how-order__header.show::after {
  content: "V";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.how-order__info {
  max-height: 0px;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}
.how-order__info > div {
  padding: 10px 20px;
}

.how-order__info.show {
  max-height: 1000px;
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
  overflow: scroll;
}

.about-brand {
  padding: 0 30px;
}

.ordering-instructions {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.3);
  z-index: 2;
}

.ordering-instructions .instruction-content-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  top: 30px;
  bottom: 30px;
  right: 100px;
  background-color: hsl(0, 100%, 100%);
  border-radius: 10px;
  font-size: 14px;
}

.ordering-instructions .instruction-content-wrap .instruction-content {
  margin-top: 30px;
  margin-left: 15px;
  padding-left: 20px;
  overflow: auto;
}

.instruction-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin: 10px;
}

.menu-btn--order-inst-btn {
  margin-left: 10px;
  background-color: hsl(0, 100%, 100%);
  color: hsl(202, 52%, 49%);
  border: 1px hsl(202, 52%, 49%) solid;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-btn--instr-btn {
  width: 100%;
  height: 40px;
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  .wrap-order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .how-order__box {
    padding-top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .ordering-instructions .instruction-content-wrap {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    font-size: 14px;
  }
}
/*# sourceMappingURL=style_main-page.css.map */